:root {
    --bg-color: #c8df87; /* Χρώμα φόντου */
    --accent-color: #a40707; /* Χρώμα προεπιλογής και τόνου */
    --button-bg-color: #a40707;
    --button-hover-color: #870505;
    --text-color: #333;
    --cell-border-color: #870505;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: var(--accent-color);
    margin: 0;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    color: #555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-picker, #stitch-picker {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.color-btn, .stitch-btn {
    width: 30px;
    height: 30px;
    border: 2px solid var(--accent-color);
    cursor: pointer;
    background-color: var(--bg-color);
}

#canvas {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid var(--accent-color);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid var(--cell-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Στυλ για τα κουμπιά */
button {
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--button-hover-color);
}
